@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UruguayBus2020 no ha encontrado la Página</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <div></div>
                <h1>404</h1>
            </div>
            <h2>Página no encontrada</h2>
            <p>La página que estas buscando ha sido removida o está temporalmente inhabilitada</p>
            <P style="font-style:italic">Pronto volvera a las carretera</P>

        </div>
    </div>
</body>
</html>