
@{
    ViewBag.Title = "SelectreporteU";
}


<h2>Reporte utilidad</h2>
<hr>
<!--RESUMEN tramo y salida no andan ya que le paso un diccionario-->

<h4>Seleccione una opción</h4>
<div class="row" style="height:350px">
    <div class="col-md-4">
        <h3 class="btn btn-default">@Html.ActionLink("Por viaje", "reporteV")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Por salida", "reporteS")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Por linea", "reporteL")</h3>
    </div>
    <div class="col-md-8">
    </div>
</div>

<div>
    @Html.ActionLink("Ir al inicio", "Index")
</div>

