@model IEnumerable<Share.entities.EConductor>

@{
    ViewBag.Title = "traerConductores";
}

<h2>Conductores</h2>


<table class="table">
    <tr>
        <th>
            ID del conductor 
        </th>
        <th>
            Fecha de vencimineto de licencia de conducir
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @if (item.VencimientoLicencia.ToString() == "10/10/1900 0:00:00")
        {
            <text> Sin asignar</text>
        }
        else
        {
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VencimientoLicencia))
        }
    </td>
    <td>
        @Html.ActionLink("Editar", "editarConductor", new { id = item.Id })
    </td>
</tr>
}


</table>
<div>
    @Html.ActionLink("ir al inicio", "index")
</div>
