
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Bienvenido @ViewBag.nombreUsu</h1>
</div>

<br>


<!--RESUMEN tramo y salida no andan ya que le paso un diccionario-->

<h4>Seleccione una operacion</h4>
<div class="row" style="height:300px">
    <div class="col-md-4">
        <h3 class="btn btn-default">@Html.ActionLink("Verificar pasaje", "traerParadas")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Iniciar viaje", "traerViajes")</h3>
        <h3 class="btn btn-default">@Html.ActionLink("Marcar llegada", "lstViajes")</h3>
    </div>
    <div class="col-md-8">
    </div>
</div>

