
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1 style="color:white">Bienvenido conductor @ViewBag.nombreUsu</h1>
</div>

<br>
<style>
    body {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-image: url('../../Content/Images/bg1.png');
    }

    .bot {
        display: inline-block;
        text-align: center;
        margin: 0 0.2em;
        width: 100%;
    }

    .jumbotron {
        background-color: rgba(41, 104, 157,0.5);
        text-align:center;
    }

    .row {
        display: inline;
    }

    #botones {
        margin: 5px;
        background-color: rgba(41, 104, 157,1);
        color: white;
        border-color: rgba(41, 104, 157,1);
    }

    #CuadroDeBtn {
        background-color: rgba(3, 63, 128, 0.4);
        border-radius: 15px;
    }

        #CuadroDeBtn h4 {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }
</style>

<!--RESUMEN tramo y salida no andan ya que le paso un diccionario-->


<div id="CuadroDeBtn">

    <h4 style="padding: 10px;background-color:rgba(41, 104, 157,1);color: white;
        font-size: xx-large">
        Sección de administración
    </h4>
    <div class="row">
        <div class="bot">
            <button id="botones" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("traerParadas", "Conductor")';return false;">Verificar pasaje</button>
            <button id="botones" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("traerViajes", "Conductor")';return false;">Iniciar viaje</button>
            <button id="botones" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("lstViajes", "Conductor")';return false;">Marcar llegada</button>
        </div>

    </div>
</div>


