
@{
    ViewBag.Title = "pasajeValido";
}

<h2>Validez del pasaje:</h2>

@{
    var data = ViewBag.Message;
}
<br>
@if (@data)
{
    <h2>El pasaje es válido </h2>
}
else
{
    <h2 style="color: rgb(255, 0, 0)">El pasaje no es válido </h2>
}

<br>
<div>
    @Html.ActionLink("Atrás", "traerParadas")
</div>


