@model Share.DTOs.DTOCompPasaje
@{
    Layout = "~/Views/Shared/_LayoutBGC.cshtml";
}
@{
    ViewBag.Title = "documento";
}

@{
    var data = ViewBag.Message;
}
<br>

<div style="background-color: rgba(41, 104, 157,0.5);color: azure;margin:20px;padding:20px">

    <h1 style="color:azure">Costo del pasaje: @data $ </h1>
    <br>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="submit" value="Comprar" class="btn btn-lg btn-primary" />
    }
    <br>
    
    <div>
        @Html.ActionLink("Ir al inicio", "Index")
    </div>
        
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


