@model Share.DTOs.DTOCompPasaje
@{
    Layout = "~/Views/Shared/_LayoutBGC.cshtml";
}
@{
    ViewBag.Title = "documento";
}

@{
    var data = ViewBag.Message;
}
<br>

<div style="background-color: rgba(41, 104, 157,0.5);color: azure;margin:20px;padding:20px">

    <h1 style="color:azure">Costo del pasaje: @data $ </h1>


    @if (ViewBag.ErrorPago != null)
    {
        if (ViewBag.ErrorPago)
        {
            <h3 style="color:red;">Algo salió mal en el pago, inténtalo de nuevo.</h3>
        }
    }
    <br>

    <form action="pago" method="POST">
        <script src="https://www.mercadopago.com.uy/integrations/v1/web-tokenize-checkout.js"
                data-public-key="TEST-80869768-294e-4b9b-9051-2362d31d1047"
                data-transaction-amount=@data>
        </script>
    </form>


    <br>

    <div>
        @Html.ActionLink("Ir al inicio", "Index")
    </div>

</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">



        $(function () {

            var chat = $.connection.notificacion;
            chat.client.notificarUsr = function (message) {
                alert(message);
            };
            $.connection.hub.start();

        });
    </script>

}


