@model IEnumerable<Share.entities.EParada>

@{
    ViewBag.Title = "proxVehiculos";
}

<h2>Seleccione una parada</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>

        <td>
            @Html.ActionLink("Seleccionar", "verVehiculoP", new {  id=item.IdParada }) 
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("ir al inicio", "index")
</div>
