@model IEnumerable<Share.entities.EParada>

@{
    ViewBag.Title = "ViewselectPOrigen";
}

<h2>Seleccione parada de destino</h2>

<table class="table">
    <tr>
        <th>
            Paradas:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Seleccionar", "selectPDestino", new {  id=item.IdParada  })
        </td>
    </tr>
}

</table>
