@model IEnumerable<Share.entities.ELinea>

@{
    ViewBag.Title = "ViewtraerLineas";
}

<h2>Seleccione una linea</h2>

<table class="table">
    <tr>
        <th>
            Lineas:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Seleccionar", "selectLinea", new {  id=item.IdLinea })
    </tr>
}

</table>
