@model IEnumerable<Share.DTOs.DTOproxVehiculo>
@{
    Layout = "~/Views/Shared/_LayoutBGC.cshtml";
}
@{
    ViewBag.Title = "verVehiculoP";
}

<h2 style="color:azure">Próximos vehículos:</h2>

<h4 style="color:azure">Reservados en rojo.</h4>



<div class="row">
    <div class="col-6 mx-auto ">

        <table class="table table-bordered">
            <thead>
                <tr class="bg-primary">
                    <th scope="col">
                        Matricula
                    </th>
                    <th scope="col">
                        Linea
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="background-color: rgba(41, 104, 157,0.5);color: azure;">

                        <td>
                            @if (item.reservado)
                            {
                                <h3 style="color: rgb(255, 0, 0)"> @Html.DisplayFor(modelItem => item.Vehiculo.Matricula)</h3>
                            }
                            else
                            {
                                <h3> @Html.DisplayFor(modelItem => item.Vehiculo.Matricula)</h3>
                            }
                        </td>

                        <td>
                            <h3> @Html.DisplayFor(modelItem => item.linea)</h3>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div>
    @Html.ActionLink("Atrás", "proxVehiculos")
</div>
@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">



        $(function () {

            var chat = $.connection.notificacion;
            chat.client.notificarUsr = function (message) {
                alert(message);
            };
            $.connection.hub.start();

        });
    </script>

}
